<div style="padding: 20px 100px 20px">
    <mat-toolbar class="app-header" fxLayout="row">
        <img src="../../assets/images/ltalogo.png" alt="lta-logo" style="width: 200px;">
        <!-- <div><a href="home" class="positronx">LTA</a></div> -->
        <div fxFlex="grow" fxLayoutAlign="end center">
          <span class="nav-tool-items">
            <a mat-button (click)="login()">Login</a>
            <!-- <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Signup</a> -->
          </span>
        </div>

      </mat-toolbar>
    <div fxLayout='row' style="padding: 20px 0px 20px">

        <div fxFlex='50' fxLayoutAlign='end end'> <img src="../../assets/images/Login_Corp.png" alt=""
                height="260px" class="ui image">
        </div>
        <div fxFlex='50' fxLayoutAlign='start center'> 
            <a href="login">
            <img src="../../assets/images/Login_Singpass.png" alt=""
                height="260px" class="ui image">
            </a>
        </div>
        
    </div>
</div>