.bgimg {
    display:block;
    background-size: auto;
    width:100%;
    height:100%;
  }

.loginform {
  position: absolute;
  width: 200px;
  height : auto;
  bottom: 47%;
  margin-left: 72%;
}

.example-form {
  height: auto;
}

.transparent-button {
  background: transparent;
  border: none !important;
  font-size:0;
}