<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Sign In with TOTP</mat-card-title>
        </mat-card-header>
        <form [formGroup]="formdata" (ngSubmit)="confirmSignUp()" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Verification Code" formControlName="code">
                </mat-form-field>


                <button mat-stroked-button color="accent" class="btn-block" type="submit">Sign-in</button>
            </mat-card-content>
        </form>
    </mat-card>


</div>