@import '~@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-blue-grey, 600, 400, 800);
$my-accent: mat-palette($mat-blue, 300, 300, 500, 800);
$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);