<div class="card bg-dark my-5">
    <div class="card-body">
      <h2 class="card-title text-center text-white py-3">{{ name }}</h2>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
        <li class="list-inline-item">
          <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>
      </ul>
    </div>
  </div>